<div class="row">
  <div class="col-sm-4">
    <p class="lead">Search</p>
    <p>Search by address or PIN #</p>
    <input class="form-control sfTypeahead" type="text" options="typeaheadOptions" datasets="typeaheadData" ng-model="foo" ng-change="typeaheadSelected" placeholder="Enter address or PIN"/>
  </div>
  <div class="col-sm-8">
      <p class="lead">Map</p>
      <p>Click on a well to view sample results</p>
    <leaflet height="300" center="center" tiles="tiles" defaults="defaults" legend="legend"></leaflet>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-sm-12">
    <div class="alert {{alertClass}}">{{alertMessage}}</div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped table-hover">
      <p class="lead">Samples</p>
      <p>Click to view details</p>
      <thead><tr><th>Permit</th><th>Code</th><th>Date</th></tr></thead>
      <tbody>
        <tr ng-repeat="result in wellresults" ng-click="permitClicked({{result}})" ng-model="selectedResult"><td>{{result.permit}}</td><td>{{result.prefix}}</td><td>{{result.sampledOn}}</td><tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p class="lead">Sample Details</p>
     <table class="table table-condensed table-striped table-bo">
      <colgroup><col width="20%"></col><col width="16%"></col><col width="16%"></col><col width="16%"></col><col width="16%"></col><col width="16%"></col></colgroup>
      <thead><tr><th ng-repeat="header in headers">{{header}}</th></tr></thead>
      <tbody>
        <tr ng-repeat="detail in welldetails"><td>{{detail.analyteType}}</td><td>{{detail.chemName}}</td><td>{{detail.concentration}}{{detail.unit}}</td><td>{{detail.qualDesc}}</td><td>{{detail.limit}}{{detail.unit}}</td><td>{{detail.epi}}{{detail.unit}}</td></tr>
      </tbody>
    </table>
    <button class="btn btn-primary" ng-click="print()" ng-disabled="countResults()"><span class="glyphicon glyphicon-print"></span> Print</button>
  </div>
</div>