<div class="row">
  <div class="col-sm-4">
    <p class="lead">Search</p>
    <p>Search by address or PIN #</p>
    <input class="form-control sfTypeahead" type="text" options="typeaheadOptions" datasets="typeaheadData" ng-model="foo" ng-change="typeaheadSelected" placeholder="Enter address or PIN"/>
  </div>
  <div class="col-sm-8">
      <p class="lead">Map</p>
      <p>Click on a well to view sample results</p>
    <leaflet height="300" center="center" tiles="tiles" defaults="defaults" legend="legend"></leaflet>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-sm-12">
    <div class="alert {{alertClass}}">{{alertMessage}}</div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <table class="table">
      <p class="lead">Samples</p>
      <p>Click to view details</p>
      <thead><tr><th>Permit</th><th>Code</th><th>Date</th></tr></thead>
      <tbody>
        <tr ng-repeat="result in wellresults" ng-click="permitClicked($index, {{result}})" ng-model="selectedResult"
          ng-class="{ 'info': $index == selectedIndex }"
        ><td>{{result.permit}}</td><td>{{result.prefix}}</td><td>{{result.sampledOn}}</td><tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p class="lead">Sample Details</p>
     <table class="table table-condensed ">
      <colgroup><col width="20%"></col><col width="16%"></col><col width="16%"></col><col width="16%"></col><col width="16%"></col><col width="16%"></col></colgroup>
      <thead><tr><th ng-repeat="header in headers">{{header}}</th></tr></thead>
      <tbody>
        <tr ng-repeat="detail in welldetails" ng-class="{'danger': detail.concentration > detail.limit, 'warning': detail.concentration == detail.limit && detail.qualifier != 'ABSENT', 'success': detail.concentration < detail.limit, 'success': detail.qualifier == 'ABSENT'}"><td>{{detail.analyteType}}</td><td>{{detail.chemName}}</td><td>{{detail.concentration}} {{detail.unit}}</td><td>{{detail.qualDesc}}</td><td>{{detail.limit}} {{detail.unit}}</td><td>{{detail.epi}} {{detail.epiUnit}}</td></tr>
      </tbody>
    </table>

    <!--[if !IE]><button class="btn btn-primary" ng-click="print()" ng-disabled="countResults()"><span class="glyphicon glyphicon-save"></span> Save To PDF</button><![endif]-->
  </div>
</div>
